<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- Sell Column -->
    <ng-container matColumnDef="sellPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sell price</th>
      <td mat-cell class="imaginary" [class.sell]="row.sell.highlight === '1'" *matCellDef="let row">{{row.sell.price | currency:'MXN':'symbol'}} <small *ngIf="row.sell.price">MXN</small></td>
    </ng-container>

    <!-- Buy Column -->
    <ng-container matColumnDef="buyPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Buy price</th>
      <td mat-cell class="imaginary" [class.buy]="row.buy.highlight === '1'" *matCellDef="let row">{{row.buy.price | currency:'MXN':'symbol'}} <small *ngIf="row.buy.price">MXN</small></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
