.full-width-table {
  width: 100%;
}

.mat-header-cell.cdk-column-buyPrice {
  background-color: #2698FF;
  color: white;
}

.mat-header-cell.cdk-column-sellPrice {
  background-color: #26E7A6;
  color: white;
  padding-left: 1em;
}

.mat-cell.imaginary.buy {
  color: #2698FF;
}

.mat-cell.imaginary.sell {
  color: #26E7A6;
}
