/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import 'styles/material.variables';
@import 'styles/material.themes';

// Core Variables and Mixins
@import 'styles/app.variables';

// Core Styles
@import 'styles/core';
@import 'styles/utilities/utilities';
