.apexcharts-tooltip.dark {
  color: #fff;
  background: rgba(30,30,30, 0.8);
}

.apexcharts-tooltip.dark .apexcharts-tooltip-title {
  background: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid #222;
}
