<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="askPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Asks price</th>
      <td mat-cell *matCellDef="let row">{{row.ask.price | currency:'MXN':'symbol'}} <small *ngIf="row.ask.price">MXN</small></td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="bidPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Bids price</th>
      <td mat-cell *matCellDef="let row">{{row.bid.price | currency:'MXN':'symbol'}} <small *ngIf="row.bid.price">MXN</small></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
