.full-width-table {
  width: 100%;
}

.mat-header-cell.cdk-column-bidPrice {
  background-color: #2698FF;
  color: white;
}

.mat-header-cell.cdk-column-askPrice {
  background-color: #26E7A6;
  color: white;
  padding-left: 1em;
}
