<div *ngIf="trades$ | async as trades" class="px-3">
  <div style="text-align:center">
    <h2>Latest trades</h2>
    <div #chart class="chart"></div>
  </div>
  <ng-container *ngIf="trades.length; else emptyList">
    <app-trade-table [trades]="trades"></app-trade-table>
  </ng-container>
  <ng-template #emptyList>
    <h3>Empty list</h3>
  </ng-template>
</div>
