<div *ngIf="order$ | async as order" class="px-3">
  <div style="text-align:center">
    <h2>Best open orders</h2>
    <div #chart class="chart"></div>
    <p *ngIf="order.updated_at">Updated at: {{ order.updated_at }}</p>
  </div>
  <ng-container *ngIf="order.bids.length || order.asks.length; else emptyList">
    <app-order-table [order]="order"></app-order-table>
  </ng-container>
  <ng-template #emptyList>
    <h3>Empty list</h3>
  </ng-template>
</div>
